.DS_Store
*.log
/.idea/vcs.xml
*.idea/*
/.idea/workspace.xml
/.htaccess
/storage
/storage/*
**/storage/*
**/module/*
**/config/*
**/config/database.php
**/config/cms.php
**/config/app.php
config/app.php
config/cms.php
config/database.php
**/config/environment.php
**/plugins/*

.env
/config/database.php
