==
<div class="col-md-4 mb-3">
    <img src="{{img }}" alt="{{alt}}" class="img-fluid"/>
    <div class="project-details-info">
        <h3 class="text-capitalize"><i class="fa fa-info-circle fa-fw pr-3"></i>highlights</h3>
        <ul class="p-0 pl-1">
            <li><i class="ion-ios-arrow-right"></i> <a href="{{url('/company/about')}}"
                                                       title="Our Company"> About Integrass</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a href="{{url('/company/team')}}"
                                                       title="Our Team">Team</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a href="{{url('company/awards-recognitions')}}"
                                               title="Awards & Recognitions">Awards & Recognitions</a>
            </li>
            <li><i class="ion-ios-arrow-right"></i> <a href="{{url('company/partners')}}" title="Partners">Partners</a>
            </li>
            <li><i class="ion-ios-arrow-right"></i> <a href="{{url('company/offices')}}" title="Offices">Offices</a>
            </li>
            <li><i class="ion-ios-arrow-right"></i> <a href="{{url('/about/careers')}}" title="Careers">Careers</a>
            </li>
        </ul>
    </div>
</div>