==
<div class="container-fluid">
    <div class="container foot">
        <div class="row">
            <div class="col-lg-3 col-sm-6 mt-4">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="214.1px"
                     height="34px" viewBox="0 0 214.1 34" style="overflow:scroll;enable-background:new 0 0 214.1 34;"
                     xml:space="preserve">
          <style type="text/css">
	.st0 {
        fill: #FFFFFF;
    }
</style>
                    <defs> </defs>
                    <g>
            <path class="st0" d="M190.2,21.7h15.4c1,0,1.9,0,1.9-1.2v-1.9c0-1.2-1-1.2-1.9-1.2h-7.7c-3.8,0-7.7,0-7.7-4.4v-1.7
		c0-4.4,3.8-4.4,7.7-4.4h14.6v3.6h-13.8c-1,0-1.9,0-1.9,1.2v1c0,1.2,1,1.2,1.9,1.2h7.7c3.8,0,7.7,0,7.7,4.4v2.7
		c0,4.4-3.8,4.4-7.7,4.4h-16.1V21.7z"></path>
                        <path class="st0" d="M0,0h6.5v25.4H0V0z"></path>
                        <path class="st0"
                              d="M11.7,6.9h16.1c3.8,0,7.7,0,7.7,4.4v14H29V11.7c0-1.2-1-1.2-1.9-1.2h-8.9v14.8h-6.5V6.9z"></path>
                        <path class="st0"
                              d="M40.3,0h6.5v6.9h7.3v3.6h-7.3v10c0,1.2,1,1.2,1.9,1.2h5.4v3.6H48c-3.8,0-7.7,0-7.7-4.4V0z"></path>
                        <path class="st0" d="M59,11.3c0-4.4,3.8-4.4,7.7-4.4h8.5c3.8,0,7.7,0,7.7,4.4v6.1H65.5v3.1c0,1.2,1,1.2,1.9,1.2h15.4v3.6H66.7
		c-3.8,0-7.7,0-7.7-4.4V11.3z M76.3,13.8v-2.1c0-1.2-1-1.2-1.9-1.2h-6.9c-1,0-1.9,0-1.9,1.2v2.1H76.3z"></path>
                        <path class="st0" d="M87.6,11.3c0-4.4,3.8-4.4,7.7-4.4h16.1v23.2c0,3.8-3.8,3.8-7.7,3.8H88.4v-3.6H103c1,0,1.9,0,1.9-1v-4h-9.6
		c-3.8,0-7.7,0-7.7-4.4V11.3z M96,21.7h8.9V10.6H96c-1,0-1.9,0-1.9,1.2v8.8C94.1,21.7,95.1,21.7,96,21.7z"></path>
                        <path class="st0"
                              d="M116.2,11.3c0-4.4,3.8-4.4,7.7-4.4h6.1v3.6h-5.4c-1,0-1.9,0-1.9,1.2v13.6h-6.5V11.3z"></path>
                        <path class="st0" d="M133.7,18.2c0-4.4,3.8-4.4,7.7-4.4h9.6v-2.1c0-1.2-1-1.2-1.9-1.2h-13.8V6.9h14.6c3.8,0,7.7,0,7.7,4.4v14h-16.1
		c-3.8,0-7.7,0-7.7-4.4V18.2z M142.1,21.7h8.8v-4.2h-8.8c-1,0-1.9,0-1.9,1.2v1.9C140.2,21.7,141.2,21.7,142.1,21.7z"></path>
                        <path class="st0" d="M162.3,21.7h15.4c1,0,1.9,0,1.9-1.2v-1.9c0-1.2-1-1.2-1.9-1.2H170c-3.8,0-7.7,0-7.7-4.4v-1.7
		c0-4.4,3.8-4.4,7.7-4.4h14.6v3.6h-13.8c-1,0-1.9,0-1.9,1.2v1c0,1.2,1,1.2,1.9,1.2h7.7c3.8,0,7.7,0,7.7,4.4v2.7
		c0,4.4-3.8,4.4-7.7,4.4h-16.1V21.7z"></path>
          </g>
        </svg>
                <div class="pt-4 social">
                    <a href="https://www.facebook.com/IntegrassGlobalCompany/">
                        <i class="fa fa-facebook-f fnt-30 ml-1 social-in"></i>
                    </a>
                    <a href="https://twitter.com/Integrass1">
                        <i class="fa fa-twitter fnt-30 ml-3 social-in"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/across-borders-management-consulting-group-llc/">
                        <i class="fa fa-linkedin fnt-30 ml-3 social-in"></i></a>
                    <a href="https://www.instagram.com/integrassglobal/"><i
                            class="fa fa-instagram fnt-30 ml-3 social-in"></i></a>
                    <a href="https://www.youtube.com/channel/UC7p9mJIfpjkvdSkGXgdIcbA" target="_blank"> <i
                            class="fa fa-youtube fnt-30 ml-3 social-in"></i></a></div>
                <div class="footer_pn mt-3"><a href="mailto:askus@integrass.com"> askus@integrass.com </a></div>

            </div>
            <div class="col-lg-3 col-sm-6 footer_li mt-4">
                <h5 class="head3 mb-3">About Integrass</h5>
                <p>Leadership</p>
                <p>Awards &amp; Recognitions</p>
                <p>Differentiators</p>
                <p>Careers</p>
                <p>Contact Us</p>
            </div>
            <div class="col-lg-3 col-sm-6 footer_li mt-4">
                <h5 class="head3 mb-3">Services</h5>
                <p>Application Services</p>
                <p>Product Engineering Services</p>
                <p>Cloud Services</p>
                <p>Automation Services</p>
                <p>Assurance &amp; Testing Services</p>
                <p>Infrastructure Services</p>
                <p>Smart Sourcing</p>
            </div>
            <div class="col-lg-3 col-sm-6 footer_li mt-4">
                <h5 class="head3 mb-3">Technologies</h5>
                <p>Open Source, Java / J2EE, SQL Server</p>
                <p>PhoneGap, Xamarin, WebSphere</p>
                <p>Alfresco, Mulesoft, Magento</p>
                <p>Drupal, Liferay, Moodle</p>
                <p>SalesForce, WordPress, Elastic Search</p>
                <p>AWS, Azure, Selenium, Oracle</p>
            </div>
        </div>
    </div>
</div>