==
<div class="row mr-0">
    <nav class="navbar big-menu navbar-expand-lg bg-black col-md-12 pl-xl-5 pr-xl-5 pl-lg-5 pr-lg-1 ml-3 ml-lg-0 ml-md-3 ml-xl-0 z-100">
        <a class="navbar-brand scrollto ft-logo" href="{{url('/')}}">Integrass</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav cut-nav ml-auto">

                <li class="nav-item int-nav dropdown sub-content">
                    <a class="nav-link" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" title="COMPANY" aria-expanded="false">
                       COMPANY
                    </a>

                    <div class="dropdown-menu  submenu border-radius-0 ml-20">
                        <div class="container mt-2 mb-2">
                            <div class="row">
                                <div class="col-md-6 text-left p-0">
                                    <ul class="list-unstyled submenu-at">
                                        <li>
                                            <a class="dropdown-item" href="{{url('/company/about')}}"
                                               title="About Integrass">About Integrass
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{{url('/company/team')}}"
                                               title="Leadership">Leadership</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{{url('company/awards-recognitions')}}"
                                               title="Awards & Recognitions">Awards & Recognitions</a>
                                        </li>
                                        <!--<li>{{url('/about/awards-recognitions')}}
                                            <a class="dropdown-item" href="{{url('/about/differentiators')}}"
                                               title="Differentiators">Differentiators</a>
                                        </li>-->
                                        <li>
                                            <a class="dropdown-item" href="{{url('company/partners')}}"
                                               title="Partners">Partners</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{{url('/company/offices')}}"
                                               title="Offices">Offices</a>
                                        </li>
                                       <li>
                                            <a href="{{url('/about/careers')}}" class="dropdown-item" title="careers">Careers</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item int-nav dropdown sub-content">
                    <a class="nav-link" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" title="HOW WE HELP" aria-expanded="false">
                       HOW WE HELP
                    </a>
                    <div class="dropdown-menu submenu border-radius-0 ml-20">
                        <div class="container mt-2 mb-2">
                            <div class="row">
                                <div class="col-md-12 text-left p-0">
                                    <ul class="list-unstyled submenu-at">
                                        <li class="nav-item int-nav dropdown sub-content">
                                            <a class="dropdown-item" href="{{url('how-we-help/consulting')}}"
                                               title="Consulting">
                                                Consulting
                                            </a>
                                        </li>
                                        <li class="nav-item int-nav dropdown sub-content">
                                            <a class="dropdown-item" href="{{url('how-we-help/solutions')}}"
                                               title="Solutions  ">
                                                Solutions
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{{url('how-we-help/sports')}}"
                                               title="Products">Sports</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{{url('how-we-help/managed-services')}}"

                                               title="Managed Services">Managed Services</a>
                                        </li>
                                        <!-- <li>
                                            <a class="dropdown-item" href="{{url('how-we-help/innovation')}}"

                                               title="Innovation">Innovation</a>
                                        </li> -->
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item int-nav ">
                    <a class="nav-link" href="{{url('how-we-excel')}}"
                       title="HOW WE EXCEL" aria-expanded="false">
                       HOW WE EXCEL
                    </a>
                </li>

                <!-- <li class="nav-item int-nav">
                     <a class="nav-link text-uppercase" href="{{url('products')}}" title="Products">Products</a>
                 </li>
                     <a class="nav-link text-uppercase" href="{{url('innovation')}}" title="Innovation">Innovation</a>
                 </li>-->
                <li class="nav-item int-nav dropdown sub-content">
                    <a class="nav-link text-uppercase" data-toggle="dropdown" href="#" title="INSIGHTS">INSIGHTS</a>
                    <div class="dropdown-menu  submenu border-radius-0 ml-20 ">
                        <div class="container mt-2 mb-2">
                            <div class="row">
                                <div class="col-md-6 text-left p-0">
                                    <ul class="list-unstyled submenu-at">
                                        <li>
                                            <a class="dropdown-item"
                                               href="{{url('insights/news')}}"
                                               title="News">News</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{{url('insights/hot-topics')}}"
                                               title="Hot Topics">Hot Topics
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{{url('insights/videos')}}"
                                               title="Videos">Videos
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>


                <li class="nav-item int-nav mr-lg-5 mr-xl-5">
                    <a class="nav-link text-uppercase" href="{{url('contact')}}" title="Contact Us">Contact Us</a>
                </li>
                <li class="nav-item int-nav ">
                    <a class="nav-link text-uppercase font-weight-normal" href="javascript:void(0)" style="cursor: context-menu;"
                       title="(855) 297-7575"><i
                            class="fa fa-phone fa-fw"></i>(855) 297-7575</a>
                </li>
                <li class="nav-item  dropdown dropdown-wp d-none d-xl-block float-right sub-content mr-3">
                    <a class="nav-link font-weight-normal world-wide" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-globe"></i><span class=" ml-2">Worldwide</span>
                    </a>
                    <div class="dropdown-menu  dropdown-menu-wp sub-nav-int submenu submenu-wp border-radius-0 gobal-bg"
                    >
                        <div class="container mt-1 mb-3 gobal-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <span><strong>North America</strong></span>
                                    <div class="col-12 ct-h6   p-0">
                                        <div class="font-w-f00"
                                              style="line-height:21px"> Orlando, FL <br>(Head Quarters)</div>
                                        <ul class="list-unstyled submenu-at-ww mt-2 mb-3">
                                            <li>Ste. 1590</li>
                                            <li>956 International Parkway</li>
                                            <li> Lake Mary, FL 32746</li>

                                        </ul>
                                        <span class="font-w-f00">  Mount Dora, FL</span>
                                        <ul class="list-unstyled submenu-at-ww">
                                            <li>141, Waterman Ave, Mt. Dora</li>
                                            <li> FL 32757</li>
                                        </ul>
                                    </div>

                                    <div class="col-12 ct-h6 p-0">
                                        <span class="font-w-f00">Colorado Springs, CO</span>
                                        <ul class="list-unstyled submenu-at-ww">
                                            <li>102 South Tejon Street</li>
                                            <li>Suite 1100, Colorado Springs</li>
                                            <li>CO 80903</li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                        <span><strong>Pacific
                                        </strong></span>
                                    <div class="col-12 ct-h6 p-0">
                                        <span class="font-w-f00">Sydney, New South Wales </span>
                                        <ul class="list-unstyled submenu-at-ww">
                                            <li>23 Bareena St
                                            </li>
                                            <li>Strathfield, New South Wales </li>
                                            <li>Sydney 2135</li>
                                            <li>Australia</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                        <span><strong>Asia, Europe,
                                            Middle
                                            East &
                                            Africa</strong></span>
                                    <div class="col-12 ct-h6  mb-1 p-0">
                                        <span class="font-w-f00">Trichy, Tamil Nadu</span>
                                        <ul class="list-unstyled submenu-at-ww">
                                            <li>
                                                15/9 6th Main Road
                                                Srinivasa Nagar (N)
                                            </li>
                                            <li>Trichy 620017, Tamil Nadu, India</li>
                                        </ul>
                                    </div>
                                    <div class="col-12 ct-h6 p-0">
                                        <span class="font-w-f00">Hyderabad Telangana</span>
                                        <ul class="list-unstyled submenu-at-ww">
                                            <li>8-7-152/16A & 16 B /1F
                                               <br> R.R. Nagar Main Road
                                                Old Bowenpally
                                            </li>
                                            <li>Hyderabad 500011, Telangana, India</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item d-none d-xl-block">
                    <form class="form-inline my-2 my-lg-0" action="{{url('search-results')}}">
                        <input class="form-control search sr-txt" style="display: none"
                               type="search"
                               id="search" name="q" placeholder="Search" autofocus="" aria-label="Search">
                    </form>
                    <i class="fa fa-search mt-7  search-icon cur-pt"></i>
                </li>
            </ul>
        </div>
    </nav>
</div>