==
<div class="col-md-4 mb-3 mt-3">
    <img src="{{img }}" alt="{{alt}}" alt="about" class="img-fluid img-thumbnail"/>
    <div class="project-details-info">
        <h3 class="text-capitalize"><i class="fa fa-info-circle fa-fw pr-3"></i>highlights</h3>
        <ul class="p-0 pl-1">
        
            <li><i class="ion-ios-arrow-right"></i> <a href="{{url('/partners/technology')}}"
                                                       title="Leadership">Technology Partners</a></li> 
            <li><i class="ion-ios-arrow-right"></i> <a href="{{url('/partners/business')}}"
                                                       title="Our Company">Business Partners</a></li>           
        </ul>
    </div>
</div>