description = "Products"
==
<div class="col-md-4 mb-3">
    <img src="{{img }}" alt="{{alt}}" class="img-fluid"/>
    <div class="project-details-info">
        <h3 class="text-capitalize"><i class="fa fa-info-circle fa-fw pr-3"></i>Products</h3>
        <ul class="p-0 pl-1">
           <li><i class="ion-ios-arrow-right"></i> <a href="{{url('/products/fobess-one-suite')}}"
                           title="Fobess One Suite">Fobess One Suite</a>
                    </li>
                    <li><i class="ion-ios-arrow-right"></i> 
                        <a href="http://sports.integrass.com/" target="_blank"
                           title="Sports Suite">Sports Suite</a>
                    </li>
                    <li><i class="ion-ios-arrow-right"></i> <a
                            href="{{url('/products/greenway-platform')}}"
                            title="Greenway Platform">Greenway Platform</a>
                    </li>
        </ul>
    </div>
</div>