==
<div class="col-md-4 mb-3">
    <img src="{{ 'assets/img/about-mission.jpg'|theme }}" alt="about" class="img-fluid img-thumbnail"/>
    <div class="project-details-info">
        <h3 class="text-capitalize"><i class="fa fa-info-circle fa-fw pr-3"></i>highlights</h3>
        <ul class="p-0 pl-1">
            <li><i class="ion-ios-arrow-right mr-1"></i><a href="{{url('solutions/applications-services')}}"
                                                           title="Application Services">Application Services</a></li>
            <li><i class="ion-ios-arrow-right mr-1"></i><a href="{{url('solutions/product-engineering-services')}}"
                                                           title="Product Engineering Services">Product Engineering
                Services</a></li>
            <li><i class="ion-ios-arrow-right mr-1"></i><a href="{{url('solutions/cloud-services')}}"
                                                           title="Cloud Services">Cloud Services</a></li>
            <li><i class="ion-ios-arrow-right mr-1"></i><a href="{{url('solutions/automation-services')}}"
                                                           title="Automation Services">Automation Services</a></li>
            <li><i class="ion-ios-arrow-right mr-1"></i><a href="{{url('solutions/assurance-testing-services')}}"
                                                           title="Assurance & Testing Services">Assurance & Testing
                Services</a></li>
            <li><i class="ion-ios-arrow-right mr-1"></i><a href="{{url('solutions/infrastructure-services')}}"
                                                           title="Infrastructure Services">Infrastructure Services</a>
            </li>
            <li><i class="ion-ios-arrow-right mr-1"></i><a href="{{url('solutions/smart-sourcing')}}"
                                                           title="Smart Sourcing">Smart Sourcing</a></li>
        </ul>
    </div>
</div>