==
<div class="col-md-4 mb-3">
    <img src="{{img }}" alt="{{alt}}" class="img-fluid"/>
    <div class="project-details-info">
        <h3 class="text-capitalize"><i class="fa fa-info-circle fa-fw pr-3"></i>highlights</h3>
        <ul class="p-0 pl-1">

            <li>
                <i class="ion-ios-arrow-right"></i> <a  href="{{url('how-we-help/consulting')}}"
                   title="Consulting">
                    Consulting
                </a>
            </li>
            <li>
                <i class="ion-ios-arrow-right"></i> <a  href="{{url('how-we-help/solutions')}}"
                   title="Products">Solutions</a>
            </li>
            <li>
                <i class="ion-ios-arrow-right"></i> <a  href="{{url('how-we-help/sports')}}"

                   title="Innovation">Sports</a>
            </li>
            <li>
                <i class="ion-ios-arrow-right"></i> <a  href="{{url('how-we-help/managed-services')}}"

                   title="Managed Services">Managed Services</a>
            </li>
            
        </ul>
    </div>
</div>