background-image
{
    background-image:url(https://www.google.com/imgres?imgurl=https%3A%2F%2Fimage.shutterstock.com%2Fimage-photo%2Flaptop-blank-screen-isolated-on-260nw-1024250860.jpg&imgrefurl=https%3A%2F%2Fwww.shutterstock.com%2Fsearch%2Flaptop%2Bblack%2Bbackground&tbnid=ik_Ub-qEBNaxcM&vet=12ahUKEwjW1uzx_ebvAhWdnEsFHR4CCOEQMyglegUIARCeAg..i&docid=6MhDR5fH6L3V9M&w=433&h=280&q=black%20laptop%20wallpaper&hl=en-IN&authuser=0&ved=2ahUKEwjW1uzx_ebvAhWdnEsFHR4CCOEQMyglegUIARCeAg);
    background-position:center center;
    backgrount-repeat:no repeat;
    backgrount-attachment:fixed;
    backgrount-size:cover;
    height:600px;
}    





