title = "White Paper"
url = "/white-paper"
layout = "default"
description = "Integrass White paper"
is_hidden = 0

[siteSearchInclude]
==
<section id="inquiry-banner" class="wow fadeIn">
    <div class="container text-left">
        <h2 class="text-white letter-spacing-1 ft-40 font-weight-bold">White Paper </h2>
        <!---<p class="text-capitalize letter-spacing-1 text-white">strategize • execute • manage</p>-->
    </div>
</section><!-- #call-to-action -->
<div class="container-fluid">
    <div class="container mt-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white brcreum-ctum-ct">
                <li class="breadcrumb-item"><a href="{{url('/')}}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">White Paper</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Breadcrumps End -->
<div class="container-fluid">
    <div class="container">
        <header class="section-header">
            <h3>White Paper</h3>
        </header>
        <div class="bg-white ">
            <div class="row mb-4">
                <div class="col-md-8">
                    <h2><strong>COVID-19 Impact on Social and Emotional Learning </strong>
                    </h2>
                    <div class="row">
                        <div class="col-md-8">

                            <p>Learning Management Systems are a great boon for continuous education and skill
                                development. This White Paper has been prudently written to address the emotional trauma
                                of children, and the social impacts when the schools and colleges are closed owing to
                                the pandemic.
                            </p>
                            <p>This White Paper would also brief about how the LMS platform has helped children during
                                COVID, and how it will alter the education and learning in the future, and give
                                tremendous opportunities.</p>
                            <h4><strong>What you'll learn </strong></h4>


                        </div>
                        <div class="col-md-4">
                            <img src="{{ 'assets/img/whitepaper_blue_large.png'|theme }}" alt="Integrass Services"
                                 class="img-fluid"/>
                        </div>
                    </div>
                    <ul>
                        <li> The Situation of Children During COVID
                        </li>
                        <li> The Global Education Coalition
                        </li>
                        <li> Domains of Child development
                        </li>
                        <li> Role of LMS in Providing Continuous Education</li>
                        <li> Future of LMS
                        </li>
                        <li><a href="{{ 'assets/pdf/lms.pdf'|theme }}" target="_blank">Download LMS Whitepaper</a>
                        </li>
                    </ul>


                </div>
                <div class="col-md-4 section-bg pt-3 pb-3">
                    <div class="form">
                        <div id="errormessage"></div>
                        <h5><strong>Contact Us</strong></h5>
                        <p>Please fill out all the fields.</p>
                        <hr>
                        <div class="alert alert-success mb-3 hide" id="success_message">Thank you for your interest
                            towards Integrass, you will be connected shortly on your registered email address /
                            phone.
                        </div>
                        <div class="col-md-12  hide" id="loader_gif">
                            <div class="loader_gif text-center">
                                <img src="{{ 'assets/img/integrass-loader.gif'|theme }}" alt="integrass loader"
                                     class="img-fluid"/></div>
                        </div>
                        <form action="{{url('/contact_enquiry')}}" method="post" class="contactForma"
                              id="white-paper-form">
                            <div class="form-row">

                                <div class="form-group col-md-12">
                                    <label>Name <span>*</span></label>
                                    <input type="text" name="name" class="form-control" id="name"
                                           required
                                           placeholder="Company Name"
                                           data-rule="required" tabindex="1"/>
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label>Email <span>*</span></label>
                                    <input type="email" name="email" class="form-control" id="email" required
                                           placeholder="Email"
                                           data-rule="required" tabindex="3"/>
                                    <div class="validation"></div>
                                </div>

                                <div class="form-group col-md-12">
                                    <label>Phone <span>*</span></label>
                                    <input type="text" class="form-control" name="phone" required id="phone"
                                           placeholder="Phone" data-rule="phone"
                                           onkeypress="return isNumberKey(event)" tabindex="4"/>
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label>Company Name</label>
                                    <input type="text" name="company_name" class="form-control" id="company_name"

                                           placeholder="Company Name"
                                           data-rule="required" tabindex="1"/>
                                    <div class="validation"></div>
                                </div>

                            </div>

                            <div class="form-group">
                                <label>Message</label>
                                <textarea class="form-control" name="message" rows="2"
                                          data-msg="Please write something for us" placeholder="Message"></textarea>
                                <div class="validation"></div>
                            </div>

                            {% if this.environment == 'local' %}
                            <div class="form-group text-center">
                                <div class="g-recaptcha" data-sitekey="6LfYkvAUAAAAAEzuftCnjp6ftFa05np6K94VtKIR"></div>
                                <div class="alert alert-danger hide error-captcha mt-3 mb-3">

                                </div>
                            </div>
                            {% endif %}
                            {% if this.environment == 'dev' %}
                            <div class="form-group text-center">
                                <div class="g-recaptcha" data-sitekey="6LecnPUUAAAAAI35Ji4JdN32DXUNk_MwN5Ri5LIY"></div>
                                <div class="alert alert-danger hide error-captcha mt-3 mb-3">

                                </div>
                            </div>
                            {% endif %}
                            {% if this.environment == 'staging' %}
                            <div class="form-group text-center">
                                <div class="g-recaptcha" data-sitekey="6LcRn_UUAAAAAJHD2c4YCHUxTUkAhbTFcURdWTdp"></div>
                                <div class="alert alert-danger hide error-captcha mt-3 mb-3">

                                </div>
                            </div>
                            {% endif %}
                            {% if this.environment == 'production' %}
                            <div class="form-group ">
                                <div class="g-recaptcha" data-sitekey="6LcxqfUUAAAAAM3t22TQZqm0EZk7ZXvsJ6FpC7Ik"></div>
                                <div class="alert alert-danger hide error-captcha mt-3 mb-3">
                                </div>
                            </div>
                            {% endif %}
                            <input type="hidden" name="type" value="5"/>
                            <div class="text-center">
                                <input type="submit" class="signup-btn contact-enquiry-form p-130" value="Submit"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% partial 'site/calltoaction' %}